doctype 5
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
        //if lt IE 8
            script(src='/js/css3-mediaqueries.js')
            link(rel='stylesheet', href='/css/1140cs/ie.css')
        script(src='/js/jquery-1.9.0.min.js')
        script(src='/js/jquery.colorbox-min.js')
        script(src='/js/jquery.form.js')
        script(src='/js/main.js')
        link(rel='stylesheet', href='/css/1140cs/1140.css')
        link(rel='stylesheet', href='/css/1140cs/styles.css')
        link(rel='stylesheet', href='/css/colorbox.css')

        script(src='/vendor/three.js/Three.js')
        script(src='/vendor/three.js/Detector.js')
        script(src='/vendor/three.js/Stats.js')

        script(src='/vendor/threex/THREEx.screenshot.js')
        script(src='/vendor/threex/THREEx.FullScreen.js')
        script(src='/vendor/threex/THREEx.WindowResize.js')
        script(src='/vendor/threex.dragpancontrols.js')

        script(src='/vendor/three.js/ShaderExtras.js')
        script(src='/vendor/three.js/postprocessing/EffectComposer.js')
        script(src='/vendor/three.js/postprocessing/RenderPass.js')
        script(src='/vendor/three.js/postprocessing/BloomPass.js')
        script(src='/vendor/three.js/postprocessing/ShaderPass.js')
        script(src='/vendor/three.js/postprocessing/MaskPass.js')
    body
        block content