extends header

block content
    .container
        .row
            .twelvecol.box.round.shadow.hidden
                p.center Controls
        .row
            #canvas.twelvecol.box.round.shadow
        .row
            #inlineDoc.twelvecol.box.round.shadow
                p
                    i p
                      | for screenshot