/**
 * DEFAULT STUFF
 */
body {
    font: normal medium 'Gill Sans', 'Gill Sans MT', 'Goudy Bookletter 1911', 'Linux Libertine O', 'Liberation Serif', Candara, serif;
    margin: 1.75em auto;
    line-height: 1.75em;
    word-spacing: 0.1em;
    color: white;
    background: #232323 url("../img/bo_play_pattern.png");
}

/** links **/
a {
    background: transparent;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    border-bottom: 1px solid;
}

a:link {
    color: #1b67c9;
}

a:visited {
    color: darkorchid;
}

/**
 * SPECIAL STUFF
 */

/** hidden element **/
.hidden {
    display: none;
}

/** alpha **/
.alpha {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity = 50);
    opacity: .5;
}

/** round corners **/
.round {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

/** shadow **/
.shadow {
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 15px #121212;
    -webkit-box-shadow: 0px 0px 15px #121212;
    box-shadow: 0px 0px 15px #121212;
}

/** horizontal list **/
.horizontal-list li {
    display: inline;
    list-style-type: none;
    padding: 2em;
}

/** positioning center **/
.center {
    text-align: center !important;
}

/** positioning left **/
.left {
    text-align: left !important;
}

/** positioning right **/
.right {
    text-align: right !important;
}

/** word wrap **/
.break-word {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera 4 - 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
    line-height: 1.3em;
}

/** relative positioning **/
.position-relative {
    position: relative;
}

/** absolute positoning **/
.position-absolute {
    position: absolute;
    bottom: 0;
}

/**
 * NORMAL STUFF
 */

/** container **/
.box {
    background: #565656 url("../img/low_contrast_linen.png");
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.header {
    line-height: 5em;
}

.hosts {
    padding: 1em;
    position: relative;
}

/** text area **/
#console {
    margin: 1em;
    width: 90%;
    height: 15em;
    padding: 1em;
    line-height: 1.3em;
}

.label {
    float: left;
    width: 100px;
    text-align: right;
    padding-top: 3px;
    padding-right: 5px;
}

.colorbox {
    margin: 1em;
    padding: 2em;
}

.textarea {
    width: 600px;
    height: 280px;
    line-height: 1.5em;
    border: 0px solid #efefef;
    padding: 1em;
    margin: 1em;
    color: white;
    background: #565656 url("../img/low_contrast_linen.png");
}

fieldset {
    line-height: 1.9em;
}

fieldset legend {
    padding-bottom: 2em;
    font-weight: bold;
}

#add-device fieldset label {
    cursor: pointer;
    text-align: right;
    padding-right: 1em;
}

#add-device fieldset input {
    float: right;
    width: 15em;
}

#add-device .submit {
    width: 30%;
}